<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

  <form action="/student-added" method="POST">
      <label>Enter First name
          <input type="text" name="first_name" required>
      </label><br>
      <label>Enter Last name
          <input type="text" name="last_name" required>
      </label><br>
      <label>Enter github
          <input type="text" name="github" required>
      </label><br>
      <input type="submit" value="Add Student">
  </form>



</body>
</html>